<!-- Primary Meta Tags -->
<meta charset="utf-8">
<meta name="robots" content="all">
<title>Melody-Bot - a discord bot</title>
<meta name="description" content="play music easly with Melody">
<meta name="keywords" content="melody bot, melody discord bot">
<meta name="theme-color" content="#00F4FF">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="<%= bot.displayAvatarURL() %>">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://beee.cf/">
<meta property="og:title" content="Bee3-Team/Bee3 Discord bot">
<meta property="og:description" content="Manage your discord server with easy to use dashboard, play music without lag, and much features">
<meta property="og:image" content="<%= bot.user.displayAvatarURL() %>">

<!-- Twitter -->
<meta property="twitter:url" content="https://beee.cf/">
<meta property="twitter:title" content="Bee3-Team/Bee3 Discord bot">
<meta property="twitter:description" content="Manage your discord server with easy to use dashboard, play music without lag, and much features">
<meta property="twitter:image" content="<%= bot.user.displayAvatarURL() %>">

<script async src="https://arc.io/widget.min.js#uNQR8h7F"></script>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="manifest" href="/manifest.json">
<script data-ad-client="ca-pub-8220206347645814" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />