<!-- Primary Meta Tags -->
<meta charset="utf-8">
<meta name="robots" content="all">
<title>Melody-Bot - a discord bot</title>
<meta name="description" content="play music easly with Melody">
<meta name="keywords" content="melody bot, melody discord bot">
<meta name="theme-color" content="#00F4FF">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="<%= bot.user.displayAvatarURL() %>">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://meloody.glitch.me">
<meta property="og:title" content="Melody-Bot - a discord bot">
<meta property="og:description" content="play music easly with Melody">
<meta property="og:image" content="<%= bot.user.displayAvatarURL() %>">

<!-- Twitter -->
<meta property="twitter:url" content="https://meloody.glitch.me">
<meta property="twitter:title" content="Melody-Bot - a discord bot">
<meta property="twitter:description" content="play music easly with Melody">
<meta property="twitter:image" content="<%= bot.user.displayAvatarURL() %>">

<link rel="stylesheet" type="text/css" href="/style.css">