/* font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #ddd;
  text-decoration: none;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  max-width: 750px !important;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  position: relative;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
}

img.nav-brand-img {
  height: 25px;
  margin-right: 13px;
  border-radius: 50%;
}

.nav-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

ul.navs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

li.nav-link {
  font-size: 16px;
  margin: 0 10px;
  text-decoration: none;
  height: 50px;
  line-height: 3;
}

li.nav-link:hover {
  animation: shake 1s infinite;
}

.nav-link a {
  padding: 10px 20px;
  border-radius: 4px;
  height: 25px;
  transition: 0.2s;
}

.nav-link a:hover {
  background: #4e4e4e;
  color: white;
  text-decoration: underline;
}

.nav-brand {
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.2s;
}

.nav-brand:hover {
  background: #4e4e4e;
  color: white;
  animation: shake 1s infinite;
}

span.nav-toggle {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #ddd;
    cursor: pointer;
    padding: 10px 20px;
  transition: 0.2s;
  display: none;
  border-radius: 4px;
}

span.nav-toggle:hover {
    color: white;
    background: #4e4e4e;
}

/* key frames */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-3deg);
  }
  40% {
    transform: rotate(3deg)
  }
  60% {
    transform: rotate(-3deg)
  }
  80% {
    transform: rotate(3deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

/* media query */
@media (max-width: 992px) {
  
  .navs {
  flex-direction: column;
  position: fixed;
  z-index: 999;
  background: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  justify-content: center;
  transform: translateX(100%);
  }
  
  .nav-link {
    max-width: 400px;
    width: -webkit-fill-available;
  }

  .nav-link a {
  }

  .nav-toggle {
    display: block !important;
  }
}

.navs.on {
    transform: translate(0px, 0px);
}

.nav-toggle.on {
    z-index: 9999;
    position: fixed;
    right: 0;
    margin-right: 10px;
}