<!DOCTYPE html>
<html>
  <head>
    <%- include("./parts/head.ejs") %>
  </head>
  <body>
    
<!--     navbar -->
    <div class="navbar">
      <div class="container">
        <div class="navbar-nav">
        <div class="nav-brand">
          <img class="nav-brand-img" src="<%= bot.user.displayAvatarURL() %>" alt="logo">
          <%= bot.user.username %>
        </div>
        <ul class="navs">
          <li class="nav-link"><a href="#">Invite</a></li>
          <li class="nav-link"><a href="#">Support</a></li>
        </ul>           
        </div>
      </div>
    </div>
<!--     navbar end -->
    
  </body>
</html>